name: Deployment Frontend

on:
  workflow_dispatch:
  workflow_call:

jobs:

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - name: deploy latest container
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.EC2_PUBLIC_IP }}
        username: ${{ secrets.EC2_USERNAME }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        port: 22
        script: |
          sudo docker pull harisheoran/frontend_img:master
          sudo docker stop frontend || true
          sudo docker rm frontend || true
          sudo docker run -d --name frontend -p 80:80 harisheoran/frontend_img:master
