name: Deploy to AWS
on:
  push:
    branches:
      - main 

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      # --- FRONTEND SECTION ---
      - name: Install & Build Frontend
        run: |
          cd frontend
          npm install
          npm run build

      - name: Deploy Frontend to S3
        uses: jakejarvis/s3-sync-action@master
        with:
          args: --delete
        env:
          AWS_S3_BUCKET: my-book-vault-frontend-2025
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: 'us-east-1'
          SOURCE_DIR: 'frontend/dist'

      # --- BACKEND SECTION ---
      - name: Generate Deployment Package (Zip)
        run: |
          cd backend
          zip -r ../deploy.zip . 

      - name: Deploy Backend to Elastic Beanstalk
        uses: einaregilsson/beanstalk-deploy@v21
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          application_name: BookVault-Backend
          environment_name: BookVault-Backend-env
          version_label: ${{ github.sha }}
          region: us-east-1
          deployment_package: deploy.zip
